<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
<servlet>
<servlet-name>welcomeservlet</servlet-name>
<servlet-class>Welcome</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>welcomeservlet</servlet-name>
<url-pattern>/Welcome</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>register</servlet-name>
<servlet-class>Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>register</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>item</servlet-name>
<servlet-class>Item</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>item</servlet-name>
<url-pattern>/Item</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>mycart</servlet-name>
<servlet-class>MyCart</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mycart</servlet-name>
<url-pattern>/MyCart</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>editcart</servlet-name>
<servlet-class>EditCart</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>editcart</servlet-name>
<url-pattern>/EditCart</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>logout</servlet-name>
<servlet-class>Logout</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>
</web-app>